$json-props: #1a1a1a;
$json-brace: gray;
$json-string: green;
$json-null: gray;
$json-number: red;
$json-boolean: darkorange;
$json-devider: #e8e8e8;
$white: #fff;
$gray-1: #e0dfdf;
$blue-1: #7795f8;
$blue-2: #6772e5;
$blue-3: #555abf;
$primary: #00904a;
