.ant-tabs {
  height: 100%;
}

.ant-tabs .ant-tabs-content {
  height: 100%;
}

.ant-tabs .ant-tabs-tabpane {
  height: 100%;
}

.ant-card .ant-card-body {
  height: 100%;
}

.nav-active {
  background-color: #bacfc1;
  color: #00904a;
}
